@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --t1-darkGray: 0 0% 11%;
        --t1-darkGreen: 152 23% 18%;

        --theme-primary: 158 100% 64%;
        --theme-primary-foreground: 0 0% 0%;

        --theme-background: 0 0% 95%;

        --theme-foreground: 0 0% 0%;
        --theme-foreground-hover: 0 0% 11% / 0.5;

        --theme-muted-foreground: 0 0% 11%;
        --theme-muted-dark: 0 0% 95%;

        --theme-selectionBgColor: 158 100% 64% / 0.6;
    }

    [data-theme="dark"] {
        --theme-background: 0 0% 0%;

        --theme-foreground: 0 0% 100%;
        --theme-foreground-hover: 158 100% 64%;

        --theme-muted-foreground: 0 0% 95%;
        --theme-muted-dark: 0 0% 35%;

        --theme-selectionBgColor: 158 100% 64% / 1;
    }

    ::selection {
        color: hsl(var(--theme-background));
        background-color: hsl(var(--theme-foreground));
    }
    ::moz-selection {
        color: hsl(var(--theme-background));
        background-color: hsl(var(--theme-foreground));
    }

    ::-webkit-scrollbar {
        width: 12px;
        opacity: 0;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar-thumb {
        background: #ffffffab;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #72ffc0b1;
    }

    @keyframes FadeIn {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        100% {
            opacity: 100%;
            transform: translateY(0);
        }
    }
}
