@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --t1-darkGray: #1d1d1d;
    --t1-darkGreen: #21352b;
    --t1-darkGreen-rgb: 33, 53, 43;

    --theme-primary: #46ffad;
    --theme-primary-rgb: 70, 255, 173;
    --theme-primary-foreground: #000000;

    --theme-background: #f2f2f2;

    --theme-foreground: #000000;
    --theme-foreground-hover: #1d1d1d80;

    --theme-muted-foreground: #1d1d1d;
    --theme-muted-dark: #f2f2f2;

    --theme-selectionBgColor: rgba(70, 255, 173, 0.6);
  }

  [data-theme="dark"] {
    --theme-background: #000000;

    --theme-foreground: #ffffff;
    --theme-foreground-hover: #46ffad;

    --theme-muted-foreground: #f2f2f2;
    --theme-muted-dark: #585858;

    --theme-selectionBgColor: rgba(70, 255, 173, 1);
  }

  ::selection {
    color: var(--theme-background);
    background-color: var(--theme-foreground);
  }
  ::moz-selection {
    color: var(--theme-background);
    background-color: var(--theme-foreground);
  }

  ::-webkit-scrollbar {
    width: 12px;
    opacity: 0;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffffab;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #72ffc0b1;
  }

  @keyframes FadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  }
}
