@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --t1-white: #ffffff;
  --t1-lightGray: #f2f2f2;
  --t1-gray: #585858;
  --t1-darkGray: #1d1d1d;
  --t1-black: #000000;
  --t1-green: #46ffad;
  --t1-darkerGreen: #21352b;
  --t1-transparent: transparent;

  --theme-bgColor: var(--t1-lightGray);
  --text-textColor: var(--t1-black);
}

[data-theme="dark"] {
  --theme-bgColor: var(--t1-black);
  --theme-textColor: var(--t1-white);
}
