.legalUL {
  list-style: square inside;
}

.legalULLI::marker {
  color: var(--theme-primary);
}

.legalULLIPadded {
  padding-left: 1rem;
}

.legalULLIPadded::marker {
  color: var(--theme-primary);
}
